Source: frc-wpilib
Priority: extra
Maintainer: Patrick Plenefisch <phplenefisch@wpi.edu>
Build-Depends: debhelper (>= 8.0.0), gcc-powerpc-wrs-vxworks
Standards-Version: 3.9.3
Section: libs
Homepage: http://firstforge.wpi.edu/sf/sfmain/do/viewProject/projects.wpilib
Vcs-Svn: http://firstforge.wpi.edu/svn/repos/wpilibcpp
Vcs-Browser: http://firstforge.wpi.edu/integration/viewcvs/viewcvs.cgi/?root=wpilibcpp&system=exsy1002

Package: frc-wpilib
Section: contrib/devel
Architecture: any
Recommends: gcc-powerpc-wrs-vxworks
Description: FRC robot code library
 WPILib is a robot abstraction to enable
 FRC teams to write higher-level code
 that is more focused on the game. This
 package provides the library and all headers,
 and is required for FIRST Robotics.
