#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

SRCDIR=$(CURDIR)
BUILDDIR=$(CURDIR)/../build-wpilib
TOOLCHAIN_PREFIX=/usr/powerpc-wrs-vxworks

%:
	dh $@ 

override_dh_auto_clean:
	[ ! -d $(BUILDDIR) ] || rm -rf $(BUILDDIR)

override_dh_auto_configure:
	[ -d $(BUILDDIR) ] || mkdir $(BUILDDIR)
	cd $(BUILDDIR) ; frcmake $(SRCDIR)

override_dh_auto_build:
	cd $(BUILDDIR) ; make

override_dh_auto_install:
	cd $(BUILDDIR) ; make install DESTDIR=$(SRCDIR)/debian/wpilib

override_dh_strip:
	# do not strip


